@model IEnumerable<AppNt.Models.Asignature>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/botones.css">
</head>

<h1>Asignatures</h1>



<table class="table">
    <thead class="thead-dark">
        <tr>
            <th cope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th cope="col">
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>More information</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester.Name)
                </td>
                <td>
                    <button class="button-81" role="button"> <a asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>
                    <button class="button-81" role="button"><a asp-action="Details" asp-route-id="@item.Id">Details</a></button>
                    <button class="button-81" role="button"> <a asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>



                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create"><button class="button-28" role="button">Create new</button></a>