@model IEnumerable<AppNt.Models.Asignature>
    <head>
        <link rel="stylesheet" href="~/css/botones.css">
    </head>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th cope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th cope="col">
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>More information</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester.Name)
            </td>
            <td>

                
                <a asp-controller="Profesors1" asp-action="indexProfesoresMateria" asp-route-id="@item.Id"><button class="button-81" role="button">Ver profesores</button></a>

            </td>
        </tr>
}
    </tbody>
</table>
