@model IEnumerable<AppNt.Models.Profesor>



<table class="table">
    <thead class="thead-dark">
        <tr>
            <th cope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th cope="col">
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th cope="col">
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th cope="col">
                @Html.DisplayNameFor(model => model.Photo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>

                <td>

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                </td>
            </tr>


        }




    </tbody>
    <a asp-controller="Votes" asp-action="Create"><input type="button" name="name" value="Votar" /></a>
    <a asp-controller="Votes" asp-action="mostrarRanking"><input type="button" name="name" value="Ver ranking" /></a>


</table>
