@model IEnumerable<AppNt.Models.Profesor>
<head>
    <link rel="stylesheet" href="~/css/botones.css">
    <link rel="stylesheet" href="~/css/botonesPrincipales.css">
</head>



<table class="table">
    <thead class="thead-dark">
        <tr>
            <th cope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th cope="col">
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th cope="col">
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th cope="col">
                @Html.DisplayNameFor(model => model.Photo)
            </th>

            <th>More information</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>

                <td>


                    <button class="button-81" role="button"> <a asp-action="Details" asp-route-id="@item.Id">Details</a></button>

                </td>
            </tr>


        }
    </tbody>

</table>
<button class="button-28 btn-sm" role="button"> <a asp-controller="Votes" asp-action="Create">Votar</a></button>
<button class="button-28 btn-sm" role="button"> <a asp-controller="Votes" asp-action="mostrarRanking">Ver ranking</a></button>
