@model AppNt.Models.Vote

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesor.Lastname)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valueVote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valueVote)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index"><button class="button-28" role="button">Back to List</button></a>
        <a asp-action="Index" type="submit"><button class="button-28" role="button">Delete</button></a>
    </form>
</div>
